@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.incomplete-task {
  background-color: #ffffff; /* Màu nền của task chưa hoàn thành */
  color: #000000; /* Màu chữ của task chưa hoàn thành */
}

.completed-task {
  text-decoration: line-through; /* Gạch chân chữ của task đã hoàn thành */
  background-color: #4A708B; /* Màu nền của task đã hoàn thành */
  color: white; /* Màu chữ của task đã hoàn thành */
}
.list-icon {
  margin-right: 0.5rem; /* Điều chỉnh khoảng cách giữa biểu tượng và tiêu đề */
}

h1 {
  display: flex;
  align-items: center;
}

